<%= form_with(model: blog) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
        <% blog.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex-row d-flex justify-content-center">
    <div class="col-md-8">
  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class:'form-control'%>
  </div>

  <div class="field form-group">
    <%= form.label :body %>
    <%= form.text_area :body, class:'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :category %>
    <%= form.select :category_id, Category.all.map {|c| [c.category,c.id]}, class:'sachin' %>
  </div>
  
  <div class="field form-group">
    <%= form.label :image %>
    <%= form.file_field :image, class:'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :Tags %>
  </div>
  <div class="formfield">
      <% Tag.all.each_with_index do |tag, i| %> 
        <% blog_tag = @blog.blog_tags.where(tag_id: tag.id).last %>
        <div class="mr-2">
          <input type="hidden" value="<%= blog_tag.try(:id) %>" name="blog[blog_tags_attributes][<%= i %>][id]">
          <input type="hidden" value="<%= tag.try(:id) %>" name="blog[blog_tags_attributes][<%= i %>][tag_id]">
          <label>
            <%= i +1 %>
            <%= tag.name  %> 
            <input type="hidden" value="true" name="blog[blog_tags_attributes][<%= i %>][_destroy]">
            <input type="checkbox" value="false" name="blog[blog_tags_attributes][<%= i %>][_destroy]" <%= 'checked=true' if blog_tag.present? %>>
          </label>
        </div>
      <% end %>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>

  </div>
  </div>
<% end %>
