<%= form_with(model: blog,  local: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
        <% blog.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex-row d-flex justify-content-center">
    <div class="col-md-8">
  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class:'form-control'%>
  </div>

  <div class="field form-group">
    <%= form.label :body %>
    <%= form.text_area :body, class:'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :category %>
    <%= form.select :category_id, Category.all.map {|c| [c.category,c.id]}, {}, {class: "form-control form-select"} %>
  </div>
  
  <div class="field form-group">
    <%= form.label :image %>
    <%= form.file_field :image, class:'form-control' %>
  </div>
  <br>
  <br>
  <br>
  <div class="field form-group">
    <h6>Select a Tag:</h6>
    <%#= form.collection_check_boxes :tag_ids, Tag.all, :id, :name%>
    <div class="field form-group">
    </div>
    <div class="formfield">
        <% Tag.all.each_with_index do |tag, i| %> 
          <% blog_tag = @blog.blog_tags.where(tag_id: tag.id).last %>
          <div class="mr-2">
            <input type="hidden" value="<%= blog_tag.try(:id) %>" name="blog[blog_tags_attributes][<%= i %>][id]">
            <input type="hidden" value="<%= tag.try(:id) %>" name="blog[blog_tags_attributes][<%= i %>][tag_id]">
            <label>
              <%= i +1 %>
              <input type="hidden" value="<%= tag.id %>" name="blog[tags_attributes][<%= i %>][id]"> 
              <input type="text" value="<%= tag.name %>" name="blog[tags_attributes][<%= i %>][_destroy]"> 
              
              <input type="hidden" value="true" name="blog[blog_tags_attributes][<%= i %>][_destroy]">
              <input type="checkbox" value="false" name="blog[blog_tags_attributes][<%= i %>][_destroy]" <%= 'checked=true' if blog_tag.present? %>>
            </label>
          </div>
        <% end %>
      </div>
      <div style="float: right;">
        <input type="button" id="btn" class="btn btn-outline-primary" value="Create a Tag">
      </div>
      <hr>
      <div id="Create" style="display:none">
        <%= form.fields_for :tags, blog.tags.build do |t|%>
          <%= t.label :New_Tag %><br>
          <%= t.text_field :name %>
        <%end%>
      </div>
    
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-outline-success"%>
  </div>

  </div>
  </div>
<% end %>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btn").click(function () {
            $("#Create").toggle();
        });
    });
</script>